/*------------------------- Begin Bottom Toolbar -----------------------------*/
#bottomToolbar {
	bottom: 0;
	width: 48%;
	height: 30px;
	position: fixed;
	padding-bottom: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,
		238, 238, 1) ), color-stop(100%, rgba(204, 204, 204, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* W3C */
}

#imgBottomToolbar {
	bottom: 0;
	width: 100%;
	height: 30px;
	position: fixed;
	padding-bottom: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,
		238, 238, 1) ), color-stop(100%, rgba(204, 204, 204, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% ); /* W3C */
}
.pageChanger {
	width: 100%;
	height: 30px;
	padding-top: 8px;
	font-size: 0.8em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
} .pageChanger a {
	font-weight: bold;
	border-radius: 2px;
	text-decoration: none;
}

#previous,#next {
	padding: 5px;
	font-size: 1em;
	border-radius: 2px;
	color: rgba(0,0,0, 0.7);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, 
	rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,
	rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,
	rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,
	rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,
	rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,
	rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
} #previous:hover,#next:hover {
	cursor: pointer;
} #previous:active,#next:active {
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
}
/*--------------------------- End Bottom Toolbar -----------------------------*/
